<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>126037457754-8oqq2ksrnntkcf0o22bfc119974tc9i0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.126037457754-8oqq2ksrnntkcf0o22bfc119974tc9i0</string>
	<key>API_KEY</key>
	<string>AIzaSyCC6R97_6B0dOy7feQIV7wVetm3Hso05Zw</string>
	<key>GCM_SENDER_ID</key>
	<string>126037457754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.CryptoWalletApp</string>
	<key>PROJECT_ID</key>
	<string>cryptoappvpd</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptoappvpd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126037457754:ios:4f704f865ccb60bd3b9163</string>
</dict>
</plist>